<center>
<h1> The Current Server is Running with OS {{ ansible_os_family }} </h1>
<br>
<h1> The Current Serverhas the hostname of {{ ansible_hostname }} </h1>
<br>
<h1> One more result for example {{ ansible_pkg_mgr }}  </h1>
<br>
<h1> The Current server is managed by {{ ansible_user_id }} 
</h1>
<br>
<h1> The current server is also managed by {{ username }} </h1>
<h1> Password for this account {{ Pass }}  </h1>
</center>

